




<body style="padding: 1in; font-size: 1.3em">
<style>

body {
	font-family: sans-serif;
}

code {
	display: block;
	background: #DDD;
	padding: 10px;
	border-radius: 4px;
	
	word-wrap: anywhere;
}


h1, h2, h3, p {
	margin: 0;
	padding: 0;	
}

h1, h2 {
	text-align: center;
}

article {
	border: 1px solid #DDD;
	border-radius: 3px;
	padding: .3in;
}

section {
	padding: .3in;
	background: #eee;
	margin-bottom: .3in;
}

li {
	margin-bottom: .1in;
}

</style>

<header style="text-align: center">
	<h2>authentication</h2>
</header>

<article>

<b>start</b>
<code>ENCHUFLA KEG TAP --port 1110</code>


</body>