




<body style="padding: 1in; font-size: 1.3em">
<style>

body {
	font-family: sans-serif;
	
	transition: opacity 1s;
}

code {
	display: block;
	background: #DDD;
	padding: 10px;
	border-radius: 4px;
	
	white-space: pre-wrap;
	word-wrap: anywhere;
}


h1, h2, h3, p {
	margin: 0;
	padding: 0;	
}

h1, h2 {
	text-align: center;
}

article {
	border: 1px solid #DDD;
	border-radius: 3px;
	padding: .3in;
}

section {
	padding: .3in;
	background: #eee;
	margin-bottom: .3in;
}

li {
	margin-bottom: .1in;
}

ul.tags li {
	display: inline-block;
	background: #FFF;
	padding: 5px 10px;
	border-radius: 5px;
}

</style>

<header style="text-align: center; margin-bottom: .25in;">
	<h2>air gapping and offline signing</h2>
</header>

<article style="white-space: normal">
	<h1>hardware required</h1>

	<section>
		<h2>online calculator</h2>
		
		<div>
			<h3>purposes:</h3> 
			<ul>
				<li>showing (QR) messages to be signed</li>
				<li>creating new drive operating systems</li>
			</ul>
		</div>
	</section>

	<section >
		<h2>offline calculator, OS 1</h2>
		
		<div>
			<h3 style="display: inline-block">tags</h3>
			<ul class="tags" style="display: inline-block">
				<li>air-gapped</li>
				<li>cold storage</li>
			</ul>
		</div>
		
		<div>
			<h3>purposes</h3> 
			<ul>
				<li>building keys, reading messages (with a camera), signing messages</li>
			</ul>
		</div>
		
		<h3>example parts</h3>
		<ul>
			<li>
				<h3>1 board</h3> 
				<ul>
					<li>maybe <a href="https://libre.computer/products/">Libre Computer</a> or a board that has no wireless coms.</li>
				</ul>
			</li>
			<li>
				<h3>1 OS storage device (Micro SD, SSD, etc.)</h3>
				<p>If new software is needed:</p>
				<ol>
					<li>Create a new OS 1 storage device with the online computer</li>
					<li>
						Reboot the offline calculator with OS 2 and then erase (or destroy) the OS 1 storage device.
						<a href="https://pypi.org/project/BRUNCH/">BRUNCH</a> can erase entire drives.
					</li>
				</ol>
			</li>
			<li>
				<h3>4 (or more) key storage devices</h3>
				<p>(Micro SD, HD, SSD, etc.)</p>
				<a href="https://pypi.org/project/BOTANY/">BOTANY</a> or "rsync" can be used to replicate folders from one storage device to another.
			</li>
			<li>
				<h3>1 monitor</h3>
			</li>
			<li>
				<h3>1 keyboard</h3>
			</li>
			<li>
				<h3>1 mouse</h3>
			</li>
		</ul>

		<div>
			
			
		</div>
		
	</section>
	
	<section>
		<h2>offline calculator, OS 2, for erasing</h2>
		<p>This can be the same hardware as OS 1.</p>
		<p>This is for erasing outdated operating system storage devices, so that keys are less likely to be on a drive that is connected to the internet.</p>
	</section>		
</article>

<article style="white-space: pre-wrap;">
<b>preparing OS 1 for use offline</b>
<code>pip install ENCHUFLA
# pip install ENCHUFLA --upgrade
</code>

<p>Then, disconnect the drive from the internet and like never reconnect it unless it has been securely erased.</p>
<p>If you need to update the software, install the new software to an empty drive, and erase the previous drive on an offline computer</b>


<b>start</b>
<code>ENCHUFLA KEG TAP --port 1110</code>



<b>build private key</b>
<code>import requests
import json
from os.path import dirname, join, normpath
import os
r = requests.put (
	'http://127.0.0.1:1110', 
	data = json.dumps ({
		"START": "BUILD ED448 PRIVATE KEY",
		"FIELDS": {
			"SEED": "5986888b11358bf3d541b41eea5daece1c6eff64130a45fc8b9ca48f3e0e02463c99c5aedc8a847686d669b7d547c18fe448fc5111ca88f4e8",
			"PATH": normpath (join (os.getcwd (), "ED448_PRIVATE_KEY.DER"))
		}
	})
)
print (r.text)
</code>


<b>build public key</b>
<code>import requests
import json
from os.path import dirname, join, normpath
import os
r = requests.put (
	'http://127.0.0.1:1110', 
	data = json.dumps ({
		"START": "BUILD ED448 PUBLIC KEY",
		"FIELDS": {
			"PRIVATE KEY PATH": normpath (join (os.getcwd (), "ED448_PRIVATE_KEY.DER")),
			"PUBLIC KEY PATH": normpath (join (os.getcwd (), "ED448_PUBLIC_KEY.DER")),
			"PUBLIC KEY FORMAT": "DER"
		}
	})
)
print (r.text)
</code>


<script>

/*
document.addEventListener ("DOMContentLoaded", function(event) { 
	document.body.style.opacity = 1;
	
	setTimeout (() => {		
		document.body.style.opacity = 1;
	}, 500)
});	

window.onbeforeunload = function (){
	return 'Are you sure you want to leave?';
};
*/

</script>


</body>